body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em 0;
}

h1 {
  font-size: 2.5em;
}

main {
  padding: 20px;
}

input[type="file"] {
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.memory-item {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.memory-item img, .memory-item video {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
