body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

h1 {
  font-size: 2.5em;
}

#gallery {
  padding: 20px;
}

.memory-item {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
}

.memory-item img {
  max-width: 100%;
  border-radius: 5px;
}

.navigation {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1em;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
